section.conteudo{
<<<<<<< HEAD
	background-color: white;
	padding: 1rem;

	div.o-que-o-spotify-tem{
		
	}
=======
	height: 100vh;
	background-color: white;
>>>>>>> 3ecc8d488420069e25172f1c84e63edf5626512c
}